/*MOST CONTENT IS TEMPORARY*/

.jumbotron text-center header {
    background-color: red;
}

.footer {
    width: auto;
    background-color: blue;
}

.title {
    text-align: center;
}

.btna {
    align-items: center;
}
